
.container {
    max-width: 800px;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

p:hover {
    color: #f00;
    cursor: pointer;
}